body {
    overflow-x: hidden;
    max-width: 100vw;
}

.navbar-nav .nav-link {
    position: relative;
    color: white; 
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--bs-primary);
    transition: width 0.3s ease;
  }
  
  .navbar-nav .nav-link:hover::after {
    width: 100%;
  }


#profile-img {
    height: 14rem;
    width: 14rem;
    border-radius: 100%;
    box-shadow:
        0 0 10px rgba(13, 110, 253, 0.7),
        0 0 25px rgba(52, 152, 219, 0.6),
        0 0 40px rgba(52, 152, 219, 0.5);
}

#landing {
    height: 100vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("/images/background-img.jpg") center no-repeat;
    background-attachment: fixed;
}

#landing h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

#landing p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.lobster-two-regular {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lobster-two-bold {
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-style: normal;
}


#bg-img {
    height: 80.2vh;
    object-fit: cover;
}

.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 480px;
    display: flex;
    flex-direction: column;
}

.project-card .card-body {
    flex: 1 1 auto; 
    display: flex;
    flex-direction: column;
}

.project-card p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.project-card .mt-auto {
    margin-top: auto;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow:
        0 0 10px rgba(25, 135, 84, 0.8),
        0 0 25px rgba(25, 135, 84, 0.7),
        0 0 40px rgba(25, 135, 84, 0.6);

}

.project-card img {
    height: 240px;
    object-fit: cover;
    object-position: top;
}

.project-card h5 {
    font-weight: 800;
    margin-bottom: 1rem;
}

#projects h1 {
    font-size: 2rem;
    font-weight: 700;
}

#projects p:not(.badge) {
    text-align: left;
    font-size: 1.1rem;
}


.social-icon {
    font-size: 2rem;
}

.btn-primary:hover {
    background-color: transparent !important;
    color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}

#footer {
    background:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("/images/bg-3-img.webp") center / cover no-repeat;
    background-attachment: fixed;
}

#footer p {
    font-size: 1rem;
}

#tools h1 {
    font-size: 2rem;
    font-weight: 700;
}

#tools h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

#contact h1 {
    font-size: 2rem;
    font-weight: 700;
}

.badge {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 999px;
    font-size: 0.8rem;
    color: white;

    width: auto;
    max-width: 100%;
    white-space: nowrap;
}

.frontend {
    background-color: #3b82f6;
}

.backend {
    background-color: #f97316;
}

.fullstack {
    background-color: #8b5cf6;
}

#contact {
    padding: 30px 30px;
}

#map-embed iframe {
    border-radius: 10px;
    border: none;
    box-shadow: -1px 3px 6px rgba(0, 0, 0, 0.15);
}

#form-col {
    background: #FFFFFF !important;
    border-radius: 10px;
    box-shadow: -1px 3px 6px rgba(0, 0, 0, 0.15);
    padding: 25px !important;
}


#form-col .form-label {
    color: #003E86 !important;
    font-weight: 500;
}


#form-col .form-control {
    border: 2px solid #003C82;
    border-radius: 8px;
    font-size: 14px;
    padding: 10px;
    color: #003E86;
}

#form-col .form-control:focus {
    border-color: #3A86FF;
    box-shadow: 0 0 0 3px rgba(58, 134, 255, 0.2);
}


#form-col .btn-primary {
    background-color: #3A86FF;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 8px 25px;
    font-size: 14px;
    transition: 0.3s ease;
}

#form-col .btn-primary:hover {
    background-color: white;
    color: #3A86FF;
    border-color: #3A86FF;
}

#tools {
    height: 60vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("/images/bg-2-img.jpg") center / cover no-repeat;
    background-attachment: fixed;
}


.slide-up {
    opacity: 0;
    transform: translateY(-40px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slide-visible {
    opacity: 1;
    transform: translateY(0);
}


/* Mobile (default) */
.icon-img {
    width: 35px;
    object-fit: contain;
}

.social-icon-1 {
    font-size: 2rem;
}

.recaptcha-wrapper {
    transform-origin: 0 0;
}

/* Mobile */
@media (max-width: 576px) {
    .recaptcha-wrapper {
        transform: scale(0.85);
    }
}

/* Extra small devices */
@media (max-width: 400px) {
    .recaptcha-wrapper {
        transform: scale(0.75);
    }
}

/* Medium screens and up (≥768px) */
@media (min-width: 768px) {
    .icon-img {
        width: 55px;
        object-fit: contain;
    }

    #tools h1 {
        padding-top: 3rem;
        font-size: 2.5rem;
        font-weight: 700;
    }

    #projects h1 {
        font-size: 2.5rem;
        font-weight: 700;
    }

    #contact h1 {
        font-size: 2.5rem;
        font-weight: 700;
    }

    .social-icon-1 {
        font-size: 3rem;
    }

    .recaptcha-wrapper {
        transform: scale(0.9);
    }
}

/* Large screens and up (≥992px) */
@media (min-width: 992px) {
    .icon-img {
        width: 65px;
        object-fit: contain;
    }

    #tools h1 {
        padding-top: 3rem;
        font-size: 2.5rem;
        font-weight: 700;
    }

    #projects h1 {
        font-size: 2.5rem;
        font-weight: 700;
    }

    #contact h1 {
        font-size: 2.5rem;
        font-weight: 700;
    }

    .social-icon-1 {
        font-size: 4rem;
    }
}
