body {
    overflow-x: hidden;
}

#profile-img{
    height: 14rem;
    width: 14rem;
}

#landing {
    height: 100vh;
    background: 
      linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
      url("/images/background-img.jpg") center no-repeat;
      background-attachment: fixed;
}

#landing h1{
    font-size: 2.5rem;
    font-weight: 700;
}

#landing p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: larger;
}

#bg-img{
    height: 80.2vh;
    object-fit:cover;
}

.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.project-card img {
    height: 200px;
    object-fit:scale-down;
}

.project-card h5{
    font-weight: 800;
    margin-bottom: 1rem;
}

#projects h1{
    font-size: 2rem;
    font-weight: 700;
}

.social-icon{
    font-size: 2rem;
}

.btn:hover {
    background-color: white !important;
    color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}

#footer {
    background:
        linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
        url("/images/bg-3-img.webp") center / cover no-repeat;
    background-attachment: fixed;
}

#footer p{
    font-size: 1rem;
}

#tools h1{
    font-size: 2rem;
    font-weight: 700;
}

#tools h3{
    font-size: 1.5rem;
    font-weight: 500;
}

#contact h1{
    font-size: 2rem;
    font-weight: 700;
}

/* Section spacing */
#contact {
    padding: 30px 30px;
}

#map-embed iframe {
    border-radius: 10px;
    border: none;
    box-shadow: -1px 3px 6px rgba(0, 0, 0, 0.15);
}

#form-col {
    background: #FFFFFF !important; /* override bg-black */
    border-radius: 10px;
    box-shadow: -1px 3px 6px rgba(0, 0, 0, 0.15);
    padding: 25px !important;
}

/* Labels */
#form-col .form-label {
    color: #003E86 !important;
    font-weight: 500;
}

/* Inputs */
#form-col .form-control {
    border: 2px solid #003C82;
    border-radius: 8px;
    font-size: 14px;
    padding: 10px;
    color: #003E86;
}

#form-col .form-control:focus {
    border-color: #3A86FF;
    box-shadow: 0 0 0 3px rgba(58, 134, 255, 0.2);
}

/* Button */
#form-col .btn-primary {
    background-color: #3A86FF;
    border: none;
    border-radius: 30px;
    padding: 8px 25px;
    font-size: 14px;
    transition: 0.3s ease;
}

#form-col .btn-primary:hover {
    background-color: white;
    color: #3A86FF;
    border: 2px solid #3A86FF;
}

#tools{
    height: 60vh;
    background: 
      linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
      url("/images/bg-2-img.jpg") center / cover no-repeat;
    background-attachment: fixed;
}

  /* Mobile (default) */
.icon-img {
    width: 35px;
    object-fit: contain;
}

.social-icon-1 {
    font-size: 2rem;
}


/* Medium screens and up (≥768px) */
@media (min-width: 768px) {
    .icon-img {
        width: 55px;
        object-fit: contain;
    }
    #tools h1{
        padding-top: 3rem;
        font-size: 2.5rem;
        font-weight: 700;
    }
    #projects h1{
        font-size: 2.5rem;
        font-weight: 700;
    }
    #contact h1{
        font-size: 2.5rem;
        font-weight: 700;
    }
    .social-icon-1 {
        font-size: 3rem;
    }
}

/* Large screens and up (≥992px) */
@media (min-width: 992px) {
    .icon-img {
        width: 65px;
        object-fit: contain;
    }
    #tools h1{
        padding-top: 3rem;
        font-size: 2.5rem;
        font-weight: 700;
    }
    #projects h1{
        font-size: 2.5rem;
        font-weight: 700;
    }
    #contact h1{
        font-size: 2.5rem;
        font-weight: 700;
    }
    .social-icon-1 {
        font-size: 4rem;
    }
}
